* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




body {
    background: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* HEADER */
.spotify-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    height: 64px;
}




.logo-main i {
    font-size: 35px;
}


/*Lado Esquerdo do Header*/
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
 }




.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
}




.home-icon {
    background: #1f1f1f;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}


.search-bar-input {
    background: #1f1f1f;
    width: 400px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border: 1px solid transparent;
}




.search-bar-input:hover {
    background: #2a2a2a;
    border-color: #444;
}




.search-bar-input input {
    background: transparent;
    border: none;
    color: white;
    margin-left: 10px;
    flex: 1;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}




.vertical-line {
    width: 1px;
    height: 25px;
    background: #555;
    margin: 0 10px;
}



/* Lado Direito do Header*/
.nav-right {
    display: flex;
    align-items: center;
    gap: 32px;
}




.extra-links {
    display: flex;
    align-items: center;
    gap: 20px;
}




.extra-links a {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 14px;
}




.extra-links a:hover {
    color: #fff;
    transform: scale(1.04);/* aumenta o tamanho da palavra quando o cursor passa*/
}




.sep-line {
    width: 1px;
    height: 32px;
    background: #333;
}








.auth-box {
    display: flex;
    align-items: center;
}




.btn-signup {
    background: transparent;
    border: none;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-right: 25px;
}




.btn-signup:hover {
    transform: scale(1.05);
    color: #fff;
}




.btn-login-large {
    background: #fff;
    color: #000;
    border: none;
    padding: 14px 34px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}




.btn-login-large:hover {
    transform: scale(1.05);
}



/* Sua Biblioteca */
.layout-main {
    display: flex;
    flex: 1; /* Faz um item ocupar todo o espaço disponível no contâiner*/
    padding: 0 8px 8px;
    gap: 8px;
    overflow: hidden;
}



/* SIDEBAR */
.sidebar-new {
    width: 340px;
    background: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}




.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 20px;
    color: #b3b3b3;
}




.lib-header {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
}




.add-playlist-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 700;
}




.add-playlist-btn:hover {
    color: #fff;
}



.card-side {
    background: #1f1f1f;
    padding: 16px 20px;
    border-radius: 10px;
    margin-bottom: 24px;
}




.card-side h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}




.card-side p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}




.btn-action {
    background: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}








.btn-action:hover {
    transform: scale(1.05);
}




.sidebar-footer {
    padding: 45px 38px;
    margin-top: auto;
}


.legal-links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}


.legal-links a {
    color: #b3b3b3;
    font-size: 11px;
    text-decoration: none;
}


.legal-links a:hover {
    text-decoration: underline;
}



.lang-btn {
    background: transparent;
    border: 1px solid #727272;
    color: #fff;
    padding: 6px 15px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.2s ease;
    cursor: pointer;
}


.lang-btn:hover {
    border-color: #fff; 
    transform: scale(1.04); 
}




/* Conteúdo Principal*/
.main-view-spotify {
    flex: 1;
    background: #121212;
    border-radius: 8px;
    overflow-y: auto;
    padding: 24px;
}




.shelf-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}




.shelf-top h2 {
    font-size: 1.5rem;
    font-weight: 700;
}




.show-all-btn {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 700;
}





/* GRID */
.music-grid-final {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /*cria automaticamente o número máximo de colunas com largura mínima de 
 e máxima de 1fr*/
    gap: 24px;
 }




.album-card {
    padding: 16px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}




.album-card:hover {
    background: #282828;
}




.img-wrapper {
    position: relative;
    margin-bottom: 12px;
}




.img-wrapper img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
}




.green-play-btn {
    position: absolute;/* O botão irá se posicionar no canto inferior direito da imagem*/
    right: 8px;
    bottom: 8px;
    width: 48px;
    height: 48px;
    background: #1db954;
    border-radius: 50%;
    border: none;
    opacity: 0; /* O botão não irá aparecer*/
    transform: translateY(10px); /* O botão fica guardado 10px abaixo de sua posição original*/
    transition: 0.3s; /* cria o efeito de subida*/
    color: #000;
}




.album-card:hover .green-play-btn {
    opacity: 1;/* o botão se torna visível*/
    transform: translateY(0); /* o botão volta para sua posição no canto da imagem*/
}



.music-name {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 8px;
    overflow: hidden; /* Esconde o texto que sai do contêiner */
    white-space: nowrap; /*garante que o texto seja uma linha só mesmo que acabe ultrapassando os limites do container*/
    text-overflow: ellipsis; /* Adiciona "..." no final  quando o texto sai do contâiner*/
}




.artist-name {
    color: #b3b3b3;
    font-size: 13px;
}




/* Container da seção */
.artistas-populares {
    padding: 20px;
    background-color: #121212; 
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}




.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}




.ver-tudo {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}




/* Grids dos Cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 20px;
}




.card {
   padding: 16px;
   border-radius: 8px;
   transition: 0.3s;
   cursor: pointer;
}




.card:hover {
    background-color: #282828;
}




/* Imagem arredondada */
.card-image-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* Mantém o card quadrado, ele diz ao navegador que a largura e a altura do elemento devem ser sempre iguais */
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}




.artist-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Deixar somente a imagem dos artistas redondas*/
    object-fit: cover; /*força a imagem a preencher todo o espaço disponível dentro do contâiner e se a imagem for muito alta ou larga, recorta as partes excedentes*/
}




/* Texto do card */
.card-text {
    display: flex;
    flex-direction: column;
}




.card-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.card-subtitle {
    color: #b3b3b3;
    font-size: 13px;
}




.green-play-btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 48px;
    height: 48px;
    background: #1db954;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
    color: #000;
    font-size: larger;
    display: flex;        
    align-items: center;  
    justify-content: center;
}


.card:hover .green-play-btn {
    opacity: 1;
    transform: translateY(0);
}




/* FOOTER */
.spotify-footer {
    margin-top: 80px;
    padding-bottom: 40px;
}




.footer-columns-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 40px;
}




.f-col h5 {
    margin-bottom: 12px;
    font-size: 16px;
}




.f-col a {
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}




.f-col a:hover {
    color: #fff;
    text-decoration: underline;
}




.f-social-icons {
    display: flex;
    gap: 15px;
}




.circle-icon {
    background: #292929;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}




.circle-icon:hover {
    background: #727272;
}




.footer-sep {
    border: 0;
    border-top: 1px solid #292929;
    margin: 40px 0 20px;
}




.copyright {
    color: #b3b3b3;
    font-size: 12px;
}




.premium-banner-spotify {
    background: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
    padding: 11px 24px; 
    position: fixed;/*posiciona um elemento em relação à janela do navegador, fixando-o no lugar mesmo com a rolagem da página*/
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;/*força um elemento a ficar na frente de todos os outros na página*/
}


.banner-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 100%;
}


.upper-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px; 
    letter-spacing: 0.1rem;/*define o espaçamento horizontal entre as letras de um texto*/
}


.main-text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0; /* Remove margens do parágrafo que esticam o banner */
}


.btn-subscribe {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 14px 32px; 
    border-radius: 500px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    transition: transform 0.1s ease;
}


.btn-subscribe:hover {
    transform: scale(1.04); 
}
